<!doctype html>
<html lang="en-US">
	<head>

		<title>{{ .Title }} | Kaldi</title>
		<link rel="stylesheet" href="/css/main.css"/>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff4400">
		<meta name="theme-color" content="#fff">

		<!-- Open Graph -->
		<meta property="og:type" content="business.business">
		<meta property="og:title" content="Kaldi | Great coffee with a conscience">
		<meta property="og:url" content="/">
		<meta property="og:image" content="/og-image.jpg">

	</head>

	<body class="sans-serif">
<!-- BEGIN callpage.io widget -->
<script type="text/javascript">var __cp={"id":"21MFhKQPwgxWlir1TMaVRcmJ-7Y4wxbVTFUqlhsMZ_Y","version":"1.1"};(function(window,document){var cp=document.createElement('script');cp.type='text/javascript';cp.async=true;cp.src="++cdn-widget.callpage.io+build+js+callpage.js".replace(/[+]/g,'/').replace(/[=]/g,'.');var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(cp,s);if(window.callpage){alert('You could have only 1 CallPage code on your website!');}else{window.callpage=function(method){if(method=='__getQueue'){return this.methods;}
else if(method){if(typeof window.callpage.execute==='function'){return window.callpage.execute.apply(this,arguments);}
else{(this.methods=this.methods||[]).push({arguments:arguments});}}};window.callpage.__cp=__cp;window.callpage('api.button.autoshow');}})(window,document);</script>
<!-- END callpage.io widget -->
